html {
	font-size: 2.5em;
}
body {
	background-color: #fff;
	padding: 0 25px;
	text-align: center;
}

#header img {
    max-height: 120vh;
    max-width: 1533vw;
}
@media all and (min-width: 550px) {
    #header img {
        min-height: 550px;
    }
}

#countbox {
    width: 100%;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}





.twitter span {
	background-color: #4099ff;
}

.icon-button .icon-twitter {
	color: #4099ff;
}

.icon-button:hover .icon-twitter {
	color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }
  body {

	  padding: 10px;
  }

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 2.5rem;
}

/* general styling */
html, body {
  height: 100%;
  margin: 0;
}

.container {
  color: #333;
  margin: 0 auto;
  font-size: medium;	
  padding: 0.5rem;
  text-align: center;
}

a.post_btn {
    font-size: 2em;
}
.popover .popover-body .bomb-text {
    font-size: 20px;
}
.popover .popover-body a {
    display: block;
}
