@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Share:400i,700i');
@import url('bootstrap.min.css');
@font-face {
    font-family: PotLand;
    src: url("../fonts/PotLand.otf") format('opentype'),
    url('../fonts/PotLand.woff') format('woff'),
    url('../fonts/PotLand.ttf') format('truetype');
}

html, body {
    height: 100%;
}

body {
    /* display: flex; */
    flex-flow: row;
    justify-content: center;
    overflow-y: visible;
}
.smoke {
    position:absolute;
    top:50%;
    lefT:50%;
    transform:translate(-50%,-50%);
}

.smoke ul {
    margin:0;
    padding:0;
    display:flex;
    
}

.smoke ul li {
    list-style:none;
    font-weight:bold;
    letter-spacing:10px;
    filter:blur(1px);
    color:#fff;
    font-size:2em;
    display: inline-block;
}


.smoke ul:hover li {
    animation: smoke 2s linear forwards;
}


@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100% {
      transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter:blur(20px);
    }
}

.smoke ul li:nth-child(1){
    animation-delay:0s
}
.smoke ul li:nth-child(2){
    animation-delay:.4s
}
.smoke ul li:nth-child(3){
    animation-delay:.8s
}
.smoke ul li:nth-child(4){
    animation-delay:1.2s
}
.smoke ul li:nth-child(5){
    animation-delay:1.6s
}

#twitter, #download,
#github {
  font-size: 3em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#github {
  animation-delay: 0.1s;
}
#download {
  animation-delay: 0.3s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.spacing {
    padding: 40px;
}
.cover-site {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background: url('../img/background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 1s;
    background-position: center;
    background-attachment: fixed;
}

#bgCover {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    transition: background-image 1s;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.bg-mask {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, .5) 20%, #000 85%);
    z-index: 2;
}

.web-player {
    height: 100%;
    color: #97ff8a;
    padding: 5px;
    padding-top: 2em;
    position: relative;
    z-index: 3;
}

.cover-album {
    max-width: 80%;
    margin: auto;
    background: url('../img/bg-capa.png') no-repeat;
    background-size: cover;
    border: 1px solid #383838;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);
    transition: background-image 1s;
    margin-bottom: 15px;
}

.watermark {
    width: 89px;
    height: 35px;
    background: url('../img/logo.png') no-repeat;
    background-size: auto 35px;
    opacity: 0.5;
    position: relative;
    bottom: 36px;
    right: -1px;
    z-index: 5;
}

#currentCoverArt {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s;
}

.logo {
    display: none;
}

.info-current-song {
    font-family: 'Share', sans-serif;
    text-align: center;
}

.info-current-song h2 {
    font-size: 22px;
    font-weight: 700;
}

.info-current-song h3 {
    font-size: 18px;
    font-weight: 400;
}

.play-pause {
    font-size: 65px;
}

.play-pause i {
    cursor: pointer;
}

.volume-icon {
    font-size: 28px;
    margin-top: -5px;
}

.volume-slide {
    line-height: 35px;
}

.vagalume a {
    color: #fff;
    text-decoration: underline;
}

.lyrics {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    transition: .3s;
}

.lyrics:active {
    text-decoration: none;
    color: #fff;
}

.lyrics:visited {
    text-decoration: none;
    color: #fff;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff !important;
    border-radius: 0;
}

.modal-content .btn {
    border-radius: 0;
}

/* Chrome */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fff;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

/* Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fff;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/* IE e Edge */
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    top: -10px;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}


.historic h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.historic article {
    margin: 5px 0;
}

.historic .cover-historic {
    width: 95px;
    height: 95px;
    margin-right: 15px;
    float: left;
    background: url('../img/bg-capa.png') no-repeat;
    background-size: cover;
    border: 1px solid #383838;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-image 1s;
}

.historic .music-info {
    color: #fff;
    font-family: 'Share', sans-serif;
}

.historic .music-info .song {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: -5px;
}

@media(max-width: 370px) {
    .cover-album {
        max-width: 100%;
    }
}

@media(min-width: 576px) {
    .volume-control {
        display: flex;
    }

    .call-lyrics {
        margin-top: 20px;
    }
}

@media(min-width: 768px) {
    body {
        align-items: center;
    }

    .h1-logo {
        text-align: center;
    }

    .logo {
        display: block;
        z-index: 2;
    }

    .logo img {
        max-width: 200px;
    }

    .web-player {
        height: auto;
        margin-top: 0;
    }

    .cover-album {
        margin: 10px auto;
        min-width: 320px;
        height: 320px;
    }

    .logo img {
        max-width: 300px;
        margin: 65px 0;
    }

    .info-current-song {
        margin-top: 50px;
        text-align: left;
    }

    .volume-control {
        margin-top: 10%;
    }
}
