body {
    margin: 0;
    padding: 0;
	background-color: #000000;

}

#home{
    background-color: black;
    /*background:url(example.jpg)*/
    background-size:100% 100%;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#heading-style{
    font-size: 5vw;
    margin-bottom:10vh;
}
#time{
    display: flex;
    color: rgb(155, 143, 143);
    font-size: 5vh;
    width:85vw;
    justify-content: space-around;
    
}
#clock{
    display: flex;
    color:rgba(255,255,255,0.7);
    font-size:12vw;
    font-family: 'Courier New', Courier, monospace;
    height:20vh;
    margin-top:5vh;
    justify-content: space-around;
    line-height:21vh;
    overflow: hidden;
    position: relative;
}

/* animation below */
.move{
    animation: move ease-in-out 1s infinite;
}
@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-25vh);
    }
}